html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
  background-color: deepskyblue;
  position: relative;
}

.rain {
  background-image: url(https://tiy-learn-content.s3.amazonaws.com/2a47098b-droplet.svg);
  background-repeat: no-repeat;
  /*list-style-type: none;*/
  width: 20px;
  height: 20px;
  padding-right: 20em;
  margin-top: -10em;
  position: absolute;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5em;
}

h1 {
  font-family: 'Lobster', cursive;
  padding-top: 2em;
  color: #fff;
}

button {
  background-color: hotpink;
  border-radius: 50%;
  border-color: #fff;
  color: #fff;
  /*line-height: 30px;
  padding-left: 5px;
  margin-left: 200px*/
}

button:hover {
  cursor: grabbing;
  background-color:
}

button:active {
  outline: none;
  border: none;
}

button:after {
  border: none;
  outline: none;
}
